/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
body {
  overflow-x: hidden;
}

/* VARIABLES & REUSABLES */
:root {
  --main-bg: #11101D;
  --secondary-bg: #8787c4;
  --third-bg: #1e1e2c;
  --orange: #FBB800;
}
.main-color {
  background: var(--main-bg)
}
.secondary-color {
  background: var(--secondary-bg)
}
.third-color {
  background: var(--secondary-bg)
}
.text-orange {
  color: var(--orange);
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.orange-bg {
  background-color: var(--orange);
}
#mobile-demo li {
  padding: 10px;
}
/* Materialize overrides classes on mobile collapsibles, used id's to override this */
#mobile-demo i {
  color: white;
}
#mobile-demo a {
  font-size: 1.25rem;
  color: white;
}
#mobile-demo li:hover {
  background: #2b293d;
}
.uppercase {
  text-transform: uppercase;
}
.hidden {
  display: none;
}

/* Used to create empty sidebar space */
.empty-div {
  height: 50px;
}

/* TYPOGRAPHY */

/* TITLE TEXT */
.title-text-lg, .title-text-md, .title-text-sm {
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
}
.title-text-lg {
  font-size: 2rem;
  
}
.title-text-md {
  font-size: 1.5rem;
}
.title-text-sm  {
  font-size: 1.25rem;
}
/* DESCRIPTIVE TEXT */

.descriptive-text-lg {
  font-size: 1.25rem;
}
.descriptive-text-md {
  
  font-size: 1rem;
}
.descriptive-text-sm {
  font-size: .75rem;
}
/* LOGO NAVIGATION IMAGE */
.logo-nav {
  width: 50px;
  height: 50px;
}



