.feedback-container {
  position: relative;
  left: 78px;
  width: calc(100vw - 78px);
}
.edit-buttons {
  position: absolute;
  right: 0;
}
@media (max-width: 768px) {
    .feedback-container {
        left: 0;
        width: 100%;
    }
    .edit-buttons {
        position: relative;
        display: inline-block;
        
    }

}