/* HERO CONTENT */
.hero-content-container{
  position: relative;
  text-align: center;
  padding-top: 100px;
  position: relative;
  width: calc(100% -78px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .4)), url("/static/images/banner.png");
  height: 100vh;
  overflow-y: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background-color: #11101D;
  flex: 0 32%;
  height: 300px;
  border-radius: 25px;
  transition: .6s;

}

/* HOME CONTENT */
.main-section{
  position: relative;
  text-align: center;
  margin-top: 100px;

}
.feature-icon {
  margin-top: 25px;
  font-size: 6rem;
  color: white;
  transition: .6s;
  width: 100%;
}
.feature-title {
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
  color: white;
  font-size: 2.5rem;
  
}
.feature-description {
  padding-top: 10px;
  line-height: 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  color: white;
}

@media (max-width: 768px) {
  .main-section, .logged-in, .home-content-container, #hero-image, .base-container, #hero-image {
    left: 0;
  }
  .home-trading-image-alt {
    display: none;
  }
  .box {
    flex: 0 100%;
    margin-bottom: 20px;
    height: 300px;
  }
  .hero-content-container {
    height: auto;
  }
}



































