{% extends "base.html" %}
{% block content %}
<div class="course-container">
    <div class="module-container">
        
        <div class="module-list">
            <ul>
                <li class="modules module-item title-text-sm">Candlesticks</li>
                <li class="modules module-item title-text-sm">Trend Patterns</li>
                <li class="modules module-item title-text-sm">Support And Resistance</li>
                <li class="modules module-item title-text-sm">Moving Average</li>
                <li class="modules module-item title-text-sm">Flag Patterns</li>
                <li class="modules module-item title-text-sm">Fibonacci Retracement</li>
                <li class="modules module-item title-text-sm">Fibonacci Extensions</li>
                <li class="modules module-item title-text-sm">Golden Cross</li>
                <li class="modules module-item title-text-sm">Death Cross</li>
                <li class="modules module-item title-text-sm">Capitulation</li>
                <li class="modules module-item title-text-sm">Platykurtic</li>
                <li class="modules module-item title-text-sm">Head and Shoulders</li>
            </ul>
        </div>
    </div>
    <div class="course-view" id="view">
        <div class="module-intro-container">
            <img src="/static/images/banner.png" alt="module intro image" id="module-intro-image">
            <div class="module-box">
                <span class="intro-title">Technical Analysis for begginers</span>
                <p class="intro-description descriptive-text-md">One of the biggest parts about becoming a successful trader is to understand <b>Technical Analysis (TA)</b>. Learning Technical Analysis can be very intimidating, this course will cover the very basics of <b>TA</b> to help you get a better understanding of the important of the fundamentals and concepts used in the world of trading.</p>
                
            </div>
        </div>
        <div class="module-content-container">
            <span class="module-title"></span>
            <ul class="keys">
             
                <li><span class="key-title intro-title" id="summary">Summary</span></li>
                <li><span class="hidden key-title intro-title" id="key-points">Key Points</span></li>
                <li><br><hr><br></li>
                <li>In the following modules, key concepts neccesary to becoming a successful trader is included with a brief description about the topic<br>some underlining points that indiciate why the respective concept is vital to becoming a successful trader.</li>
                <li class="descriptive-text-lg" id="key1"></li>
                <li class="descriptive-text-lg" id="key2"></li>
                <li class="descriptive-text-lg" id="key3"></li>
                <li class="descriptive-text-lg" id="key4"></li>
            </ul>

        </div>
</div>




{% endblock %}
