{% extends "base.html" %}
{% block content %}
{% extends "base.html" %} {% block content %}
<div class="feedback-container">


    <h3 class="title-text-lg center-align" style="color: var(--orange);">All comments</h3>
    {% if comments|length > 0 %}
    <ul class="collapsible">
        {% for comment in comments %}
            <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col s3">
                    &nbsp;{{ comment.comment }}
                    <div class="comment-by"><strong>By:</strong> {{ comment.created_by }}</div>
                </div>
                </div>

                <div class="edit-buttons">
                    {% if session.user|lower == comment.created_by|lower %}
                    <a href="{{ url_for('delete_comment', comment_id=comment._id) }}"
                    class="btn-small darken-1 red accent-4" id="hover-state">Delete</a>
                <a href="{{ url_for('edit_comment', comment_id=comment._id) }}" class="btn-small darken-1 orange"
                    id="hover-state">Edit</a>

                </div>
                                    </li>
       </div>
                </div>
</div>

                {% endif %}




        {% endfor %}
    </ul>
    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
    <div class="col s12 center-align">
        <a href="{{ url_for('add_comment') }}" class="btn-small green darken-1 text-shadow" id="hover-state">
            Add comment <i class="fas fa-plus-square right"></i></a>
    </div>
</div>



{% endblock %}
