{% extends "base.html" %}
{% block content %}

<body>
    <div class="hero-content-container">
        <span class="hero-title title-text-lg white-text">Title</span>
        <p class="hero-description descriptive-text-lg white-text">Lorem slaps it up mate watch it fly</p>
        <!-- <button type="button" class="waves-effect waves-light btn main-color" id="getStartedBtn">
        <a href="{{ url_for('register') }}" class="title-text-sm" id="getStartedText">Get Started</a>
    </button> -->
    <div class="main-section">
        <div class="container" id="features">
            <div class="box">
                <i class='feature-icon bx bx-bar-chart'></i>
                <span class="feature-title">Trading</span>
                <p class="feature-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
            </div>
            <div class="box">
                <i class='feature-icon bx bxs-graduation'></i>
                <span class="feature-title">Course</span>
                <p class="feature-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
            </div>
            <div class="box">
                <i class='feature-icon bx bx-comment-detail'></i>
                <span class="feature-title">Comment</span>
                <p class="feature-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
            </div>
        </div>
    </div>




        <!-- Course detail  -->
        <!-- Module -->
        <!-- About -->
    </div>
</body>
{% endblock %}